

body{
    padding-top: 15px;
    background-color: #727b84;
}

#userBloc{
    padding-top: 15px;
}

#dateBloc{
    padding-top: 30px;
}

#menuBloc{
    padding-top: 15px;
}

#bodyBloc{

}

#footer {
    bottom: 0;
    width: auto;
}
